{% extends 'BkstgCoreBundle::layout.html.twig' %}

{% block title %}Schedule{% endblock %}

{% block description %}
  The schedule shows what rehearsals and shows are coming up for your
  production, check back often for updates.
{% endblock %}

{% block content %}
    {% if is_granted('ROLE_EDITOR') %}
      <div class="panel panel-default">
        <div class="panel-body">
          <a class="btn btn-default" href="{{ url('bkstg_schedule_add_schedule') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new schedule</a>
          {% if app.request.attributes.get('_route') == 'bkstg_schedule_show' %}
            <a class="btn btn-default" href="{{ url('bkstg_schedule_unpublished') }}"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> View un-published schedules</a>
          {% else %}
            <a class="btn btn-default" href="{{ url('bkstg_schedule_home') }}"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Back to schedule</a>
          {% endif %}
        </div>
      </div>
    {% endif %}

    {# filter form #}
    {% if filter_form is defined %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Browse Schedules</h3>
        </div>
        <div class="panel-body">
          {{ form_start(filter_form, { 'attr': { 'class': 'form form-inline' }}) }}
            {{ form_errors(filter_form) }}

            {# render form elements #}
            {% for item in filter_form %}
              {% if "hidden" not in item.vars.block_prefixes %}
                <div class="form-group">
                  {{ form_label(item) }}
                  {{ form_widget(item, { 'attr': { 'class': 'form-control'}}) }}
                </div>
              {% endif %}
            {% endfor %}

            {# render the submit button #}
            <input type="submit" value="Change" class="btn btn-primary" />
          {{ form_end(filter_form) }}
        </div>
      </div>
    {% endif %}

    {% for schedule in schedules %}
        {% include 'BkstgScheduleBundle:Schedule:schedule_full.html.twig' with { 'schedule': schedule } only %}
    {% else %}
      <div class="panel panel-default">
        <div class="panel-body">
          {% if datestart is defined %}
            No schedules found between {{ datestart|date('F jS, Y') }} and {{ dateend|date('F jS, Y') }}
          {% else %}
            No unpublished schedules found.
          {% endif %}
        </div>
      </div>
    {% endfor %}
{% endblock %}
