{% trans_default_domain 'BkstgScheduleBundle' %}

<div class="btn-group btn-group-toggle btn-group-{{ size|default('md') }} invitation-respond" data-toggle="buttons" role="group" aria-label="{{ 'invitation.respond'|trans }}">
  <label class="btn btn-outline-success{% if invitation.response is same as(1) %} active{% endif %}">
    <input type="radio" name="response" data-respond-url="{{ url('bkstg_invitation_respond', {'id': invitation.id, 'response': 'accept'}) }}" value="accept"><i class="fa fa-check"></i><span class="sr-only">{{ 'invitation.accept'|trans }}</span>
  </label>
  <label class="btn btn-outline-warning{% if invitation.response is same as(0) %} active{% endif %}">
    <input type="radio" name="response" data-respond-url="{{ url('bkstg_invitation_respond', {'id': invitation.id, 'response': 'maybe'}) }}" value="maybe"><i class="fa fa-question"></i><span class="sr-only">{{ 'invitation.maybe'|trans }}</span>
  </label>
  <label class="btn btn-outline-danger{% if invitation.response is same as(-1) %} active{% endif %}">
    <input type="radio" name="response" data-respond-url="{{ url('bkstg_invitation_respond', {'id': invitation.id, 'response': 'decline'}) }}" value="decline"><i class="fa fa-times"></i><span class="sr-only">{{ 'invitation.decline'|trans }}</span>
  </label>
</div>
