{% extends '@BkstgCore/layout.html.twig' %}
{% set page_title = 'My Archived Invitations'|trans %}
{% trans_default_domain 'BkstgScheduleBundle' %}
{% block main %}
  <div class="container-fluid">
    {% include '@BkstgCore/Partials/header.html.twig' with { 'title': page_title } only %}
    {% include '@BkstgSchedule/Invitation/_actions.html.twig' %}
    <p><div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{{ 'Response'|trans }}</th>
            <th>{{ knp_pagination_sortable(invitations, 'invitation.optional'|trans, 'i.optional') }}</th>
            <th>{{ 'invitation.production'|trans }}</th>
            <th>{{ knp_pagination_sortable(invitations, 'invitation.event'|trans, 'e.name') }}</th>
            <th>{{ knp_pagination_sortable(invitations, 'event.start'|trans, 'e.start') }}</th>
            <th>{{ knp_pagination_sortable(invitations, 'event.end'|trans, 'e.end') }}</th>
            <th>{{ 'Invited by'|trans }}</th>
          </tr>
        </thead>
        <tbody>
        {% for invitation in invitations %}
          {% set author = get_user(invitation.event.author) %}
          <tr>
            <td>{% include '@BkstgSchedule/Invitation/_respond.html.twig' with { 'invitation': invitation } only %}</td>
            <td>{% if invitation.optional %}{{ 'Yes'|trans }}{% else %}{{ 'No'|trans }}{% endif %}</td>
            <td>
              {% for production in invitation.event.groups %}
                {{ production }}
              {% endfor %}
            </td>
            <td>
              {% for production in invitation.event.groups %}
                {% if invitation.event.schedule is not empty %}
                  <i class="fa fa-list"></i> <a href="{{ url('bkstg_schedule_show', {'production_slug': production.slug, 'id': invitation.event.schedule.id}) }}"><strong>{{ invitation.event.schedule.title }}:</strong> {{ invitation.event }}</a>
                {% else %}
                  <i class="fa fa-calendar"></i> <a href="{{ url('bkstg_event_show', {'production_slug': production.slug, 'id': invitation.event.id}) }}">{{ invitation.event }}</a>
                {% endif %}
              {% endfor %}
            </td>
            <td>{{ invitation.event.start|date('l, F j, Y g:i a') }}</td>
            <td>{{ invitation.event.end|date('l, F j, Y g:i a') }}</td>
            <td>{{ author }}</td>
          </tr>
        {% else %}
            <tr>
              <td colspan="7">{{ 'invitations.no_invitations'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
      {{ knp_pagination_render(invitations) }}
    </div></p>
    {% include '@BkstgCore/partials/footer.html.twig' %}
  </div>
{% endblock %}
