{% extends '@BkstgCore/layout.html.twig' %}
{% trans_default_domain 'BkstgScheduleBundle' %}
{% set page_title = 'invitation.my_pending'|trans|title %}

{% block main %}
  <div class="container-fluid">
    {% include '@BkstgCore/_header.html.twig' with { 'title': page_title } only %}
    {% include '@BkstgSchedule/Invitation/_actions.html.twig' %}
    <p><div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{{ 'invitation.label.response'|trans }}</th>
            <th>{{ knp_pagination_sortable(invitations, 'invitation.label.optional'|trans, 'i.optional') }}</th>
            <th>{{ 'invitation.label.production'|trans }}</th>
            <th>{{ knp_pagination_sortable(invitations, 'invitation.label.event'|trans, 'e.name') }}</th>
            <th>{{ knp_pagination_sortable(invitations, 'event.label.start'|trans, 'e.start') }}</th>
            <th>{{ knp_pagination_sortable(invitations, 'event.label.end'|trans, 'e.end') }}</th>
            <th>{{ 'invitation.label.invited_by'|trans }}</th>
          </tr>
        </thead>
        <tbody>
        {% for invitation in invitations %}
          {% set author = get_user(invitation.event.author) %}
          <tr>
            <td>{% include '@BkstgSchedule/Invitation/_respond.html.twig' with { 'invitation': invitation } only %}</td>
            <td>{{ invitation.optional ? 'invitation.label.optional_choices.yes'|trans : 'invitation.label.optional_choices.no'|trans }}</td>
            <td>
              {% for production in invitation.event.groups %}
                {{ production }}
              {% endfor %}
            </td>
            <td>
              {% for production in invitation.event.groups %}
                {% if invitation.event.schedule is not empty %}
                  <i class="fa fa-list"></i> <a href="{{ url('bkstg_schedule_read', {'production_slug': production.slug, 'id': invitation.event.schedule.id}) }}"><strong>{{ invitation.event.schedule.name }}:</strong> {{ invitation.event }}</a>
                {% else %}
                  <i class="fa fa-calendar"></i> <a href="{{ url('bkstg_event_read', {'production_slug': production.slug, 'id': invitation.event.id}) }}">{{ invitation.event }}</a>
                {% endif %}
              {% endfor %}
            </td>
            <td>{{ invitation.event.start|date(full_date_weekday) }}</td>
            <td>{{ invitation.event.end|date(full_date_weekday) }}</td>
            <td>{{ author }}</td>
          </tr>
        {% else %}
            <tr>
              <td colspan="7">{{ 'invitations.no_invitations'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </div></p>
    {{ knp_pagination_render(invitations) }}
    {% include '@BkstgCore/_footer.html.twig' %}
  </div>
{% endblock %}
