{% extends '@BkstgCore/layout.html.twig' %}
{% set page_title = 'My Pending Invitations'|trans %}
{% trans_default_domain 'BkstgScheduleBundle' %}
{% block main %}
  <div class="container-fluid">
    {% include '@BkstgCore/Partials/header.html.twig' with { 'title': page_title } only %}
    <p><div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>{{ 'Optional?'|trans }}</th>
            <th>{{ 'Production'|trans }}</th>
            <th>{{ 'Event'|trans }}</th>
            <th>{{ 'Start'|trans }}</th>
            <th>{{ 'End'|trans }}</th>
            <th>{{ 'Invited by'|trans }}</th>
          </tr>
        </thead>
        <tbody>
        {% for invitation in invitations %}
          {% set author = get_user(invitation.event.author) %}
          <tr>
            <td>{% include '@BkstgSchedule/Invitation/_respond.html.twig' with {'invitation': invitation} only %}</td>
            <td>{% if invitation.optional %}{{ 'Yes'|trans }}{% else %}{{ 'No'|trans }}{% endif %}</td>
            <td>{{ invitation.event.groups[0] }}</td>
            <td>{% if invitation.event.schedule is defined %}<strong>{{ invitation.event.schedule.title }}:</strong> {% endif %}{{ invitation.event }}</td>
            <td>{{ invitation.event.start|date('F j, Y g:i a') }}</td>
            <td>{{ invitation.event.end|date('F j, Y g:i a') }}</td>
            <td>{{ author }}</td>
          </tr>
        {% else %}
            <tr>
              <td colspan="7">{{ 'invitations.no_invitations'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
      {{ knp_pagination_render(invitations) }}
    </div></p>
    {% include '@BkstgCore/partials/footer.html.twig' %}
  </div>
{% endblock %}
