{{ form_start(form) }}
  <div class="form-row">
    <div class="col-md-2">
      {{ form_row(form.active) }}
    </div>
    <div class="col">
      {{ form_row(form.title) }}
    </div>
  </div>
  {{ form_row(form.location, {'attr': { 'class': 'google-geolocate' }}) }}
  {{ form_widget(form) }}
  <div class="form-group">
    <button type="submit" class="btn btn-primary">{{ 'Save'|trans }}</button>
  </div>
{{ form_end(form) }}
