{% extends '@BkstgCore/layout.html.twig' %}
{% trans_default_domain 'BkstgScheduleBundle' %}
{% set page_title = 'schedule.delete'|trans({'%schedule%': schedule.name }) %}

{% block content %}
  {% include '@BkstgSchedule/Schedule/_actions.html.twig' with { 'schedule': schedule, 'production': production } only %}
  <p>{{ 'schedule.delete_confirm'|trans({ '%schedule%': schedule.name }) }}</p>
  <p>{{ 'schedule.delete_consequences'|trans }}</p>
  <p><strong>{{ 'schedule.delete_no_undo'|trans }}</strong></p>
  {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group form-inline">
      <a href="{{ url('bkstg_calendar_production', {'production_slug': production.slug}) }}" class="btn btn-outline-secondary mr-2">{{ 'Cancel'|trans }}</a>
      <input type="submit" name="submit" value="{{ 'Delete'|trans }}" class="btn btn-danger">
    </div>
  {{ form_end(form) }}
{% endblock %}
