{% extends '@BkstgCore/layout.html.twig' %}
{% trans_default_domain 'BkstgScheduleBundle' %}
{% set page_title = schedule.title %}

{% block content %}
  {% include '@BkstgSchedule/Schedule/_actions.html.twig' with { 'schedule': schedule, 'production': production } only %}
  <div class="row">
    <div class="col-md-8">
      {{ schedule.notes|purify }}</p>
    </div>
    <div class="col-md-4">
      {% if schedule.location is not empty %}
        <iframe
          width="100%"
          height="250"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key={{ google_api_key }}
            &q={{ schedule.location|url_encode }}" allowfullscreen>
        </iframe>
      {% endif %}
    </div>
  </div>

  {% if sorted_events[0] is defined %}
    {% set date_day = sorted_events[0].start|date('F j, Y') %}
    <h3>{{ date_day }}</h3>
  {% endif %}
  <p><div class="table-responsive">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>{{ 'event.time'|trans }}</th>
          <th>{{ 'event.title'|trans }}</th>
          <th>{{ 'event.invitations'|trans }}</th>
          <th>{{ 'event.notes'|trans }}</th>
        </tr>
      </thead>
      <tbody>
        {% for event in sorted_events %}
          {% if date_day != event.start|date('F j, Y') %}
            {% set date_day = event.start|date('F j, Y') %}
                </tbody>
              </table>
            </div></p>
            <h3>{{ date_day }}</h3>
            <p><div class="table-responsive">
              <table class="table table-striped">
                <thead class="thead-dark">
                  <tr>
                    <th>{{ 'event.time'|trans }}</th>
                    <th>{{ 'event.title'|trans }}</th>
                    <th>{{ 'event.invitations'|trans }}</th>
                    <th>{{ 'event.notes'|trans }}</th>
                  </tr>
                </thead>
                <tbody>
          {% endif %}
          <tr>
            <td>{{ event.start|date('g:i a') }} - {{ event.end|date('g:i a') }}</td>
            <td>{{ event.name }}</td>
            <td>
              <ul>
                {% if event.fullCompany %}
                  <li>{% include '@BkstgSchedule/Event/_full-company.html.twig' with { 'event': event } only %}</li>
                {% else %}
                  {% for invitation in event.invitations %}
                    {% set user = get_user(invitation.invitee) %}
                    <li>{% if user == app.user %}<strong>{% endif %}{% include '@BkstgSchedule/Invitation/_show.html.twig' with {'invitation': invitation} only %}{% if user == app.user %}</strong>{% endif %}</li>
                  {% else %}
                    <li><em class="text-muted">{{ 'event.no_invitees'|trans }}</em></li>
                  {% endfor %}
                {% endif %}
              </ul>
            </td>
            <td>{{ event.description|raw }}</td>
          </tr>
        {% else %}
          <tr>
            <td colspan="4">{{ 'schedule.no_events'|trans }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div></p>
{% endblock %}
