{% extends '@BkstgCore/layout.html.twig' %}
{% set page_title = 'Schedule' %}
{% block content %}
  <h3 class="date-display">{{ "now"|date('F Y') }}</h3>
  <div class="btn-toolbar mt-3" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="Calendar navigation">
      <button class="btn btn-primary" data-calendar-nav="prev"><i class="fa fa-arrow-left"></i> {{ 'Prev'|trans }}</button>
      <button class="btn btn-light" data-calendar-nav="today">Today</button>
      <button class="btn btn-primary" data-calendar-nav="next">{{ 'Next'|trans }} <i class="fa fa-arrow-right"></i></button>
    </div>
    <div class="btn-group" role="group" aria-label="Calendar display toggle">
      <button class="btn btn-warning" data-calendar-view="year">Year</button>
      <button class="btn btn-warning active" data-calendar-view="month">Month</button>
      <button class="btn btn-warning" data-calendar-view="week">Week</button>
      <button class="btn btn-warning" data-calendar-view="day">Day</button>
    </div>
  </div>
  <div id="calendar" class="mt-2 mb-2"></div>
{% endblock %}
{% block javascripts %}
  <script src="{{ asset('build/calendar.js') }}"></script>
{% endblock %}

{# Override header block to add create link #}
{% block header %}
  <header>
    {% if is_granted('GROUP_ROLE_EDITOR', production) %}
      <div class="dropdown float-left mr-2 mt-1">
        <button class="text-small btn btn-success dropdown-toggle"  aria-hidden="true" type="button" id="schedule-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-plus"></i>
          <span class="sr-only">{{ 'Create new schedule or event'|trans }}</span>
        </button>
        <div class="dropdown-menu" aria-labelledby="schedule-dropdown">
          <a class="dropdown-item" href="#"><i class="fa fa-list" aria-hidden="true"></i> {{ 'Create new Schedule' }}</a>
          <a class="dropdown-item" href="{{ url('bkstg_event_create', {'production_slug': production.slug}) }}"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> {{ 'Create new Event' }}</a>
        </div>
      </div>
    {% endif %}
    <h1>
      {{ page_title }}
    </h1>
  </header>
{% endblock %}
