{% trans_default_domain 'BkstgScheduleBundle' %}

<div class="btn-toolbar mt-3" role="toolbar" aria-label="{{ 'calendar.toolbar'|trans }}">
  <div class="btn-group mr-2" role="group" aria-label="{{ 'calendar.navigation'|trans }}">
    <button class="btn btn-primary" data-calendar-nav="prev"><i class="fa fa-arrow-left"></i> {{ 'calendar.previous'|trans }}</button>
    <button class="btn btn-light" data-calendar-nav="today">{{ 'calendar.today'|trans }}</button>
    <button class="btn btn-primary" data-calendar-nav="next">{{ 'calendar.next'|trans }} <i class="fa fa-arrow-right"></i></button>
  </div>
  <div class="btn-group" role="group" aria-label="{{ 'calendar.toggle_display'|trans }}">
    <button class="btn btn-warning" data-calendar-view="year">{{ 'calendar.year'|trans }}</button>
    <button class="btn btn-warning active" data-calendar-view="month">{{ 'calendar.month'|trans }}</button>
    <button class="btn btn-warning" data-calendar-view="week">{{ 'calendar.week'|trans }}</button>
    <button class="btn btn-warning" data-calendar-view="day">{{ 'calendar.day'|trans }}</button>
  </div>
</div>
