{% extends 'BkstgCoreBundle::layout.html.twig' %}
{% block title %}{{ title|default('Add New Schedule') }}{% endblock %}

{% block content %}
  <div class="schedule-form">
    {{ form_start(form) }}
      <div class="panel panel-default">
        <div class="panel-heading">
          {{ form_errors(form) }}

          {{ form_label(form.name) }}
          {{ form_widget(form.name, { 'attr': { 'class': 'form-control' }}) }}
        </div>
        <ul class="list-group schedule-items" data-prototype="{{ include('BkstgScheduleBundle:Form:schedule_item_form.html.twig', { 'form': form.schedule_items.vars.prototype })|e }}">
          {% for schedule_item in form.schedule_items %}
            <li class="list-group-item">
              {{ include('BkstgScheduleBundle:Form:schedule_item_form.html.twig', { 'form': schedule_item }) }}
            </li>
          {% endfor %}
        </ul>
        <div class="panel-footer form-inline">

          {{ form_row(form._token) }}
          <input class="btn btn-primary" type="submit" value="{{ submit_value|default('Create new schedule') }}" />
        </div>
      </div>
    {{ form_end(form, {'render_rest': false}) }}
  </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
// setup an "add a schedule_item" link
var $addScheduleItemLink = $('<a href="#" class="btn btn-primary add_schedule_item_link">Add a schedule item</a>');
var $newLinkLi = $('<li class="list-group-item"></li>').append($addScheduleItemLink);

jQuery(document).ready(function() {
    // Get the ul that holds the collection of schedule-items
   var $collectionHolder = $('ul.schedule-items');

    // add the "add a schedule_item" anchor and li to the schedule-items ul
    $collectionHolder.append($newLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $collectionHolder.data('index', $collectionHolder.find(':input').length);

    $addScheduleItemLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // add a new schedule_item form (see code block below)
        addScheduleItemForm($collectionHolder, $newLinkLi);
    });


});

function addScheduleItemForm($collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');

    // get the new index
    var index = $collectionHolder.data('index');

    // Replace '$$name$$' in the prototype's HTML to
    // instead be a number based on how many items we have
    var newForm = prototype.replace(/__name__/g, index);

    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a schedule_item" link li
    var $newFormLi = $('<li class="list-group-item"></li>').append(newForm);

    // also add a remove button, just for this example
    $newFormLi.append('<a href="#" class="btn btn-danger remove-schedule_item"><span class="glyphicon glyphicon-trash"></span> Delete</a>');

    $newLinkLi.before($newFormLi);

    // handle the removal, just for this example
    $('.remove-schedule_item').click(function(e) {
        e.preventDefault();

        $(this).parent().remove();

        return false;
    });
}
</script>
{% endblock %}
