
<fieldset class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Date/Time</h3>
  </div>
  <div class="panel-body">
    <div class="form-inline form-group">
      {{ form_label(form.datetimeStart) }}
      {{ form_widget(form.datetimeStart.date, { 'attr': { 'class': 'form-control start-date' }}) }}
      {{ form_widget(form.datetimeStart.time, { 'attr': { 'class': 'form-control start-time' }}) }}
    </div>
    <div class="form-inline form-group">
      {{ form_label(form.datetimeEnd) }}
      {{ form_widget(form.datetimeEnd.date, { 'attr': { 'class': 'form-control end-date' }}) }}
      {{ form_widget(form.datetimeEnd.time, { 'attr': { 'class': 'form-control end-time' }}) }}
    </div>
  </div>
</fieldset>

<fieldset class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Scene &amp; notes</h3>
  </div>
  <div class="panel-body">
    {{ form_label(form.scene) }}
    {{ form_widget(form.scene, { 'attr': { 'class': 'form-control' }}) }}
    {{ form_label(form.notes) }}
    {{ form_widget(form.notes, { 'attr': { 'class': 'form-control' }}) }}
  </div>
</fieldset>

<fieldset class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Call list</h3>
  </div>
  <div class="panel-body">
    <div class="checkbox full-company-checkbox">
      <label>
        {{ form_widget(form.fullCompany) }}
        Call full company
      </label>
    </div>
    <div class="more-options">
      <div class="checkbox full-cast-checkbox">
        <label>
          {{ form_widget(form.fullCast) }}
          Call all cast
        </label>
      </div>
      <div class="checkbox full-crew-checkbox">
        <label>
          {{ form_widget(form.fullCrew) }}
          Call all crew
        </label>
      </div>
      <div class="actors-called-select">
        {{ form_label(form.called, 'Actors called') }}
        {{ form_widget(form.called, { 'attr': { 'class': 'chosen form-control' }}) }}
      </div>
    </div>
  </div>
</fieldset>

