{% trans_default_domain 'BkstgScheduleBundle' %}

{% if is_granted('edit', event) %}
  {% set route = app.request.attributes.get('_route') %}
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <a class="nav-link{% if route == 'bkstg_event_read' %} active{% endif %}" href="{{ url('bkstg_event_read', {'id': event.id, 'production_slug': production.slug}) }}">{{ 'view'|trans }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% if route == 'bkstg_event_update' %} active{% endif %}" href="{{ url('bkstg_event_update', {'id': event.id, 'production_slug': production.slug}) }}">{{ 'edit'|trans }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% if route == 'bkstg_event_delete' %} active{% endif %} text-danger" href="{{ url('bkstg_event_delete', {'id': event.id, 'production_slug': production.slug}) }}">{{ 'delete'|trans }}</a>
    </li>
  </ul>
{% endif %}
