{% form_theme form '@BkstgSchedule/Invitation/_form.html.twig' %}
{% block bkstg_schedulebundle_event_widget %}
  <div class="row">
    <div class="col-md-8">
      <div class="form-row">
        <div class="col-2">{{ form_row(form.type) }}</div>
        <div class="col">{{ form_row(form.name) }}</div>
      </div>
      <div class="form-row">
        <div class="col start-date">{{ form_row(form.start) }}</div>
        <div class="col end-date">{{ form_row(form.end) }}</div>
      </div>
      {{ form_row(form.location, {'attr': { 'class': 'google-geolocate' }}) }}
      {{ form_row(form.description) }}
    </div>
    <div class="col-md-4">
      <div class="event-invitation-list">
        <div class="event-full-company">{{ form_row(form.full_company) }}</div>
        <div class="event-invitations">{{ form_row(form.invitations) }}</div>
      </div>
    </div>
  </div>
  <div class="btn-group">
    <a href="#" class="collection-item-remove btn btn-danger"><i class="fa fa-times"></i> {{ 'Remove' }}</a>
  </div>
{% endblock %}
