{% trans_default_domain 'BkstgScheduleBundle' %}
{% form_theme form '@BkstgSchedule/Invitation/_form.html.twig' %}

{{ form_start(form) }}
  {{ form_errors(form) }}
  <div class="row">
    <div class="col-md-8">
      <div class="form-row">
        <div class="col-2">{{ form_row(form.active) }}</div>
        <div class="col">{{ form_row(form.name) }}</div>
      </div>
      <div class="form-row">
        <div class="col">{{ form_row(form.start) }}</div>
        <div class="col">{{ form_row(form.end) }}</div>
      </div>
      {{ form_row(form.location, {'attr': { 'class': 'google-geolocate' }}) }}
      {{ form_row(form.description) }}
      {{ form_row(form.colour) }}
    </div>
    <div class="col-md-4">
      <div class="event-invitation-list">
        <div class="event-full-company">{{ form_row(form.full_company) }}</div>
        <div class="event-invitations">{{ form_row(form.invitations) }}</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <a href="{{ url('bkstg_calendar_production', {'production_slug': production.slug}) }}" class="btn btn-secondary">{{ 'cancel'|trans }}</a>
    <button type="submit" class="btn btn-primary">{{ 'save'|trans }}</button>
  </div>
{{ form_end(form) }}
