{% extends '@BkstgSchedule/layout.html.twig' %}
{% trans_default_domain 'BkstgScheduleBundle' %}
{% set page_title = 'events'|trans %}

{% block content %}
  <div class="alert alert-info">
    {{ 'event.archive_info'|trans }}
  </div>

  {# Event and schedule archive links. #}
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <a class="nav-link" href="{{ url('bkstg_schedule_archive', {'production_slug': production.slug}) }}">{{ 'schedules'|trans }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{{ url('bkstg_event_archive', {'production_slug': production.slug}) }}">{{ 'events'|trans }}</a>
    </li>
  </ul>

  <p><div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>{{ 'event.label.name'|trans }}</th>
          <th>{{ 'event.label.author'|trans }}</th>
          <th>{{ 'event.label.status'|trans }}</th>
          <th>{{ 'event.label.updated'|trans }}</th>
        </tr>
      </thead>
      <tbody>
        {% for event in events %}
          <tr>
            <td>
              <div class="btn-group btn-group-sm">
                <a href="{{ url('bkstg_event_update', {'production_slug': production.slug, 'id': event.id}) }}" class="btn btn-info"><i class="fa fa-pencil-alt" aria-hidden="true"></i><span class="sr-only">{{ 'edit'|trans }}</span></a>
                <a href="{{ url('bkstg_event_delete', {'production_slug': production.slug, 'id': event.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i><span class="sr-only">{{ 'delete'|trans }}</span></a>
              </div>
            </td>
            <td><a href="{{ url('bkstg_event_read', {'production_slug': production.slug, 'id': event.id}) }}">{{ event.name }}</a></td>
            <td>{{ get_user(event.author) }}</td>
            <td>{{ event.published == false ? 'event.label.status_choices.unpublished'|trans : 'event.label.status_choices.archived'|trans }}</td>
            <td>{{ event.updated|date(full_date) }}</td>
          </tr>
        {% else %}
          <tr>
            <td colspan="5">{{ 'event.archive_no_events'|trans }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div></p>
  {{ knp_pagination_render(events) }}
{% endblock %}
