{% extends '@BkstgCore/layout.html.twig' %}
{% trans_default_domain 'BkstgScheduleBundle' %}
{% set page_title = 'event.delete'|trans({'%event%': event.name }) %}

{% block content %}
  {% include '@BkstgSchedule/Event/_actions.html.twig' with { 'event': event, 'production': production } only %}
  <p>{{ 'event.delete_confirm'|trans({'%event%': event.name}) }}</p>
  <p><strong>{{ 'event.delete_no_undo'|trans }}</strong></p>
  {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
      <a href="{{ url('bkstg_calendar_production', {'production_slug': production.slug}) }}" class="btn btn-secondary">{{ 'cancel'|trans }}</a>
      <button type="submit" class="btn btn-danger">{{ 'delete'|trans }}</button>
    </div>
  {{ form_end(form) }}
{% endblock %}
