{% extends '@BkstgCore/layout.html.twig' %}
{% trans_default_domain 'BkstgScheduleBundle' %}
{% set page_title = event.name %}

{% block content %}
  {% include '@BkstgSchedule/Event/_actions.html.twig' with { 'event': event, 'production': production } only %}
  <div class="row">
    <div class="col-md-8">
      <p><strong class="text-muted">{{ 'event.date_string'|trans({ '%start%': event.start|date(full_date), '%end%': event.end|date(full_date) }) }}</strong></p>
      {{ event.description|purify }}
      {% if event.location is not empty %}
        <iframe
          width="100%"
          height="450"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key={{ google_api_key }}
            &q={{ event.location|url_encode }}" allowfullscreen>
        </iframe>
      {% endif %}
    </div>
    <div class="col-md-4">
      <ul class="list-group">
        {% for invite in event.invitations %}
          <li class="list-group-item">
            {% include '@BkstgSchedule/Invitation/_show.html.twig' with {'invitation': invite} only %}
            {% if is_granted('respond', invite) %}<div class="float-right">{% include '@BkstgSchedule/Invitation/_respond.html.twig' with {'invitation': invite, 'size':  'sm'} only %}</div>{% endif %}
          </li>
        {% else %}
          <li class="list-group-item">{{ 'event.no_invitees'|trans }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
